@page "{id?}"
@model Stripboek_Project.Pages.Auth.Overzicht

@{

}
<div>
    <h1 class="overzicht-tekst">Overzicht</h1>
</div>
<a href="/Auth/Register" class="btn btn-primary">Register</a>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Rating</th>
        <th>titel</th>
        <th>Serie</th>
    </tr>
    @foreach (var c in Model.collection)
    {
        <tr>
            <td>@c.user.username</td>
            <td>@c.rating</td>
            @foreach (var t in @c.comics)
            {
                <td>@t.title</td>
                @foreach (var s in @t.series)
                {
                    <td>@s.title</td>
                }
            }
        </tr>
    }

</table>